In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
df = pd.DataFrame({'whoAmI':lst})
df.head()

  whoAmI
0  robot
1  robot
2  robot
3  human
4  human

In [7]:
pd.get_dummies(df['whoAmI'])

    human  robot
0   False   True
1   False   True
2   False   True
3    True  False
4    True  False
5    True  False
6    True  False
7   False   True
8   False   True
9    True  False
10   True  False
11  False   True
12  False   True
13  False   True
14   True  False
15  False   True
16   True  False
17   True  False
18   True  False
19  False   True

In [18]:
df.loc[df['whoAmI'] == 'robot', 'robot'] = True
df.loc[df['whoAmI'] != 'robot', 'robot'] = False
df.loc[df['whoAmI'] == 'human', 'human'] = False
df.loc[df['whoAmI'] != 'human', 'human'] = True
df[['robot', 'human']]
# df.head()

    robot  human
0    True   True
1    True   True
2    True   True
3   False  False
4   False  False
5   False  False
6   False  False
7    True   True
8    True   True
9   False  False
10  False  False
11   True   True
12   True   True
13   True   True
14  False  False
15   True   True
16  False  False
17  False  False
18  False  False
19   True   True